/* analysis.css */
/* Tooltips for word analysis */

.mytooltip {
  position: relative;
  display: inline-block;
  cursor: default;
  direction: rtl;
}

.mytooltip:hover {
  text-decoration: underline dotted;
}

.mytooltip .tooltiptext {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  top: -150%;
  left: -100%;
  transition-property: visibility;
  transition-delay: 0s;
  direction: ltr;
}

.mytooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
}

.tooltiptext_analysis {
  position: absolute
}

.tooltiptext_analysis {
  visibility: hidden;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  direction: ltr;
  bottom: 100%;
  padding: 0.25em 0.5em;
  white-space: nowrap;
  right: 0%;
  position: absolute;
  z-index: 1;
}

.mytooltip:hover .tooltiptext_analysis {
  visibility: visible;
}

.translation {
  color: lightgreen;
}

.heb_td {
  direction: rtl;
}

.transcription {
  font-style: italic;
  color: lightblue;
}

.word_stuff {
  text-align: left;
}