/* header.css */
/* Header, settings, footer */

header {
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
}

.website_header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page_header {
  font-size: 2rem;
  background-color: #b2c9f6;
  padding: 0.05rem;
  margin: auto;
  margin-top: 0rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
}

#languageSelectorWrapper {
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  z-index: 1000;
}

/* FOOTER */

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
    color: #888;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

